*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgba(19, 19, 19, 0.966);
}

.hero{
    border-radius:10px;
    width: 900px;
    height: 500px;
    background: rgb(0, 0, 0);
    margin: 0 auto;
    margin-top: 70px;
}

.hero .img1 img{
    margin-left: 300px;
    margin-top: 50px;
}

.hero .img1 h4{
    color: white;
    text-align: center;
    margin-top: 5px;
}

.hero .img1 audio{
    margin-left: 300px;
    margin-top: 15px;
} 