*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.menu{
    width: auto;
    height: 70px;
    background-color: black;
}

.menu nav .logo h1{
    color: #1DB954;
    margin-top: 10px;
}

.menu h1{
    float: left;
    margin-top: 13px;
    margin-left: 30px;
    color: #1DB954;
}

.menu .form h4{
    color: white;
    display: inline-block;
}

.menu .form{
    width: 650px;
    margin-top: 24px;
    margin-left: 70px;
}

.menu .form{
   float: right;
}

.menu .form form{
    display: inline-block;
}




.main{
    width: auto;
    height: 650px;
    background-color: rgba(19, 19, 19, 0.966);
}

.main .carossel{
    border-radius: 10px;
    position: absolute;
    margin-left: 170px;
    margin-top: 17px;
    width: 980px;
    height: 550px;
    background: rgb(0, 0, 0);
}

.main .carossel{
    padding: 15px;
}

.main .carossel .img1{
    display: inline-block;
    margin: 30px;
}

.main .carossel .img1 h6{
    color: white;
    text-align: center;
}


.main .carossel .img2{
    display: inline-block;
    margin: 10px;
}

.main .carossel .img2 h6{
    color: white;
    text-align: center;
}

.main .carossel .img3{
    display: inline-block;
    margin: 10px;
}

.main .carossel .img3 h6{
    color: white;
    text-align: center;
}

.main .carossel .img4{
    display: inline-block;
    margin: 10px;
}

.main .carossel .img4 h6{
    color: white;
    text-align: center;
}

.main .carossel .img5{
    display: inline-block;
    margin: 30px;
}

.main .carossel .img5 h6{
    color: white;
    text-align: center;
}